<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bad_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{77,70},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>beyond_endurance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{1,430},{77,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{153,70},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{1,139},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>embarrassed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,78}</string>
                <key>spriteSourceSize</key>
                <string>{69,78}</string>
                <key>textureRect</key>
                <string>{{77,141},{69,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>greeding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,78}</string>
                <key>spriteSourceSize</key>
                <string>{67,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>i_have_no_idea.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,74}</string>
                <key>spriteSourceSize</key>
                <string>{95,74}</string>
                <key>textureRect</key>
                <string>{{1,354},{95,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>just_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,78}</string>
                <key>spriteSourceSize</key>
                <string>{77,78}</string>
                <key>textureRect</key>
                <string>{{81,433},{77,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>misdoubt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{157,141},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pretty_smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{67,74}</string>
                <key>textureRect</key>
                <string>{{81,1},{67,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rockn_roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{154,283},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,70}</string>
                <key>spriteSourceSize</key>
                <string>{73,70}</string>
                <key>textureRect</key>
                <string>{{1,281},{73,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sigh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{157,1},{67,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,74}</string>
                <key>spriteSourceSize</key>
                <string>{69,74}</string>
                <key>textureRect</key>
                <string>{{1,210},{69,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>surprise.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{77,212},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>the_devil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,76}</string>
                <key>spriteSourceSize</key>
                <string>{83,76}</string>
                <key>textureRect</key>
                <string>{{98,355},{81,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unbelievable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,74}</string>
                <key>spriteSourceSize</key>
                <string>{67,74}</string>
                <key>textureRect</key>
                <string>{{1,70},{67,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unhappy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{155,212},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>what.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,80}</string>
                <key>spriteSourceSize</key>
                <string>{77,80}</string>
                <key>textureRect</key>
                <string>{{161,433},{77,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wicked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{76,283},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{242,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5429e479c067ee46f3d0b178cd7efead:fd4db6b2e5b7a74b007f1a8bba0d4da4:4ec14ac0cf4724fb75b15ad0d1f4335a$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
